.app-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    /* min-height: 40px; */
    z-index: 1030;
    background-color: #f0bcbc;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.app-bar .brand, 
.app-bar .menu-item, 
.app-bar .app-bar-menu, 
.app-bar .app-bar-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    height: 52px;
    /* line-height: 40px; */
    color: #f5deb3;
    text-decoration: none;
    font-size: 14px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    border: none;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.editor {font-size: 18px;}