{% extends 'master.html' %}
{% load static %}
{% block title %}
    Résultat de la recherche
{% endblock title %}


{% block body %}
<div class="container">
    <div class="row">
        <div class="cell-md-12">
            <div class="cell-md-12">
                <div class="remark alert px-5">
                    <div class="text-bold text-leader">Résultat de recherche : "{{ query }}"</div>
                </div>
                <hr class="mt-2 border bd-red bd-dark border-top border-size-2">
            </div>
            
            {% if queries.count > 0 %}
                <div class="row">
                    {% for search in queries %}
                        <div class="cell-md-3 pt-2">
                            <div class="card image-header">
                                <div class="card-header fg-white"                                    
                                    style="background-image: url({{ MEDIA_URL }}{{ search.specifictool_image.url }});"
                                    >
                                </div>
                                <!-- <div class="card-content p-2 text-secondary text-muted text-center">
                                    <span class="">
                                        {{ search.description | safe | truncatewords_html:10 }}
                                    </span>
                                </div> -->
                                <div class="card-footer">
                                    <a href="{{ search.get_absolute_url }}" class="button alert w-100">
                                        {{ search.specifictool_name | upper }}
                                    </a>
                                </div>
                            </div>
                        </div>                    
                        
                    {% endfor %}
                </div>
            {% else %}
                <h2 class="text-leader fg-red my-5 px-5"> 
                    Aucun résultat correspondant à la recherche 
                    <span class="text-bold">"{{ query }}"</span>
                <h2> 
            {% endif %}
        </div>
    </div>
</div>
{% endblock body %}
