<div class="contact-page bg-gray p-15">
    <div class="container">
        <div class="text-center">
            <h2 class="text-bold text-upper fg-red">CONTACTEZ-NOUS</h2>
            <hr>
        </div>
        <div class="row contact-wrap">
            <div class="cell-md-6">
<!--            <div id="sendmessage">Votre message a été bien envoyé ! Merci.</div>-->
                <div id="errormessage"></div>
                <form action="" method="post">
                    <div class="form-group">
                        <input type="text" name="name" data-role="input" id="name" placeholder="Votre Nom" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                        <div class="validation"></div>
                    </div>
                    <div class="form-group">
                        <input type="email"  data-role="input" name="email" id="email" placeholder="Votre Email" data-rule="email" data-msg="Please enter a valid email" />
                        <div class="validation"></div>
                    </div>
                    <div class="form-group">
                        <input type="text"  data-role="input" name="subject" id="subject" placeholder="Votre Subjet" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                        <div class="validation"></div>
                    </div>
                    <div class="form-group">
                        <textarea  data-role="textarea" name="message" rows="7" data-auto-size="false" data-rule="required" data-msg="Ecrivez-nous ici" placeholder="Message"></textarea>
                        <div class="validation"></div>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="button alert">Envoyer Message</button>
                    </div>
                </form>
            </div>
            <div class="cell-md-6">
                <div class="map"></div>
            </div>
        </div>
    </div>
</div>
