{% load static %}


<div data-role="appbar"
    data-expand-point="sm" 
    class="bg-lightRed d-flex flex-justify-center"
    style="background-color: transparent;"
    >
    <ul class="app-bar-container" id="navbar">
        {% if product_list %}
            {% for product in product_list %}
                <li class="app-bar-item">
                    <a href="{{ product.get_absolute_url }}" class="link-menu px-2">
                        {{ product.label_product | upper }}
                    </a>
                    <a href="#" class="dropdown-toggle"></a>
                    <ul class="d-menu" data-role="dropdown">
                        <li><a href="smat.com">Windows 10</a></li>
                        <li><a href="or.ci">Office 365</a></li>
                        <li class="divider bg-lightGray"></li>
                        <li><a href="nat.fr">Skype</a></li>
                    </ul>
                </li>
            {% endfor %}
        {% endif %}
        <li class="app-bar-item">
            <a href="#" class="link-menu px-2">
                Nos marques
            </a>
        </li>
    </ul>
</div>
