{% load static %}

<div data-role="carousel"
     class="img-conta"
     data-height="300px"
     data-effect="fade"
     data-controls-on-mouse="true"
     data-auto-start="true"
     data-control-next="<span class='mif-chevron-right'></span>"
     data-control-prev="<span class='mif-chevron-left'></span>"
     
    >
    {% for image in slider %}
        <img class="slide" src="{{ MEDIA_URL }}{{ image.image_slide.url }}">
    {% endfor %}
</div>