{% extends 'master.html' %} 
{% load static %}

{% block body %}
    <section>
        <div class="container my-10">
            <div class="row text-just">
              <div class="cell-md-12">
                <h2 class="text-center fg-red muted text-upper text-bold">
                  Nos partenaires
                </h2>
                <hr />
              </div>
            </div>
            <div class="row mb-10">
                {% for brand in brands %}
                    <div class="cell-md-3 pt-2">
                        <div class="card image-header">
                            <div class="card-header fg-white d-flex flex-justify-center">
                                <img src="{{ MEDIA_URL }}{{ brand.logo_marque.url }}" alt="{{ brand.id }}"
                                      class="w-100">
                            </div>
                            <div class="card-content p-2 text-secondary text-center bg-lightRed-hover">
                                <a href="{{ MEDIA_URL }}{{ brand.logo_marque.url }}" target="_blank"
                                   class=" fg-white-hover no-decor">
                                    {{ brand.name | upper }}
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>
    </section>
{% endblock body %}


<section id="features">
  {% block partenaire %}
  {% endblock partenaire %}
</section>

<section id="contact">
</section>
