{% extends 'master.html' %}
{% load static %}

{% block title %}

    {{ category.category_name }}
{% endblock %}

{% block breadcrumbs %}
    <div class="container">
        <ul class="breadcrumbs remark warning">
            <li class="page-item">
                <a class="mif-home" href="{% url 'main:home' %}">&emsp;</a>
            </li>
            <li class="page-item">&emsp; Nos catalogues</li>
        </ul>
    </div>
{% endblock breadcrumbs %}


{% block body %}
    <div class="container">
        <div class="row">
            <div class="cell-md-12 ">
                {% if categories.exists %}
                    <div class="row mb-10">
                        {% for cat in categories %}
                            <div class="cell-md-3 pt-2">
                                <div class="card image-header">
                                    <div class="card-header fg-white d-flex flex-justify-center">
                                        <img src="{{ MEDIA_URL }}{{ cat.category_image.url }}"
                                             alt="{{ cat.category_name }}" class="w-100">
                                    </div>

                                        <div class="card-content p-2 text-secondary text-center bg-lightRed-hover">
                                            {% if cat.catalog %}
                                                <a href="{{ MEDIA_URL }}{{ cat.catalog.url }}" target="_blank"
                                                        class=" fg-white-hover no-decor">
                                                    {{ cat.category_name | upper }}
                                                </a>
                                            {% else %}
                                                <a href="#" target="_blank"
                                                        class=" fg-white-hover no-decor">
                                                    {{ cat.category_name | upper }}
                                                </a>
                                            {% endif %}
                                        </div>

                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="text-leader2 text-center">Aucun catalogue disponible pour l'instant.</div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock body %}

<div id="partenaire">
    {% block partenaire %}{% endblock %}
</div>
