{% extends 'master.html' %}
{% load static %}

{% block title %}Images Email{% endblock title %}

{% block body %}
    <section>
        <div class="container my-10">
            <div class="row text-just">
                <div class="cell-md-12">
                    <h2 class="text-center fg-red muted text-upper text-bold">
                        Mes images
                    </h2>
                    <hr />
                </div>
            </div>
            <div class="row">
                {% for image in email_images %}
                    <div class="cell-md-4 text-center">
                        <a href="{{ image.get_absolute_url }}">
                            <img src="{{ MEDIA_URL }}{{ image.image_file.url }}"
                                 alt="image-{{ image.pk }}" style="width: 100%;">
                        </a>
                        <br>
                        <br>
                        <span>{{ image.description }}</span>
                    </div>
                {% endfor %}

            </div>
        </div>
    </section>
{% endblock body %}