{% extends 'master.html' %}
{% load static %}

{% block title %}Images Email{% endblock title %}

{% block body %}
    <section>
        <div class="container my-10">
            <div class="row text-just">
                <div class="cell-md-12">
                    <h2 class="text-center fg-red muted text-upper text-bold">
                        <span>{{ image.description }}</span>
                    </h2>
                    <hr />
                </div>
            </div>
            <div class="row">
                    <div class="cell-md-12 text-center">
                        <h3 for="image">URL à copier</h3>
                        <input type="text" value="{{ full_url }}{{ MEDIA_URL }}{{ image.image_file.url }}" >
                        <br>

                        <img src="{{ MEDIA_URL }}{{ image.image_file.url }}"
                             alt="image-{{ image.id }}" style="width: 100%;">
                    </div>

            </div>
        </div>
    </section>
{% endblock body %}