{% extends 'master.html' %} 
{% load static %}

{% block body %}
    {% block slider %} 
        {% include 'includes/slider.html' %} 
    {% endblock %}

    <section id="about">
      {% block section-about %}
      <div class="container my-10">
        {% block about %}
            {% if about %}
                {{ about | safe }}
            {% else %}
                <div class="row text-just">
                  <div class="cell-md-12">
                    <h2 class="text-center fg-red muted text-upper text-bold">
                      QUI SOMMES-NOUS ?
                    </h2>
                    <hr />
                  </div>

                  </div>
                  <div class="cell-lg-12">
                    <p class="lead">
                      ANASTHASIS WEST AFRICA INDUSTRIES & DISTRIBUTION en abrégé (<span
                        style="color: #cc0100; font-weight: bold;"
                        >AWAID</span
                      >) située à Abidjan, capitale économique de la Côte d’Ivoire, Marcory
                      - Zone 4, rue Fleming. Nous sommes spécialisées en Equipements
                      industriels - Centrale d’Achats et Leader Ouest Africain de la
                      fourniture de Joints et accessoires pour échangeurs thermiques à
                      plaques.
                    </p>
                    <div style="font-size: 18px" class="pt-10">
                      <p><strong>NOS ATOUTS</strong></p>
                      <ul>
                        <li>Forte dynamique humaine</li>
                        <li>Engagement et responsabilité</li>
                        <li>Indépendance et pérennité</li>
                      </ul>
                      <p style="font-size: 18px">
                        Faisant ainsi de notre société un partenaire reconnu auprès des
                        grands donneurs d'ordre de l'industrie pétrolière, minière,
                        agroalimentaire, etc…
                      </p>
                    </div>
                  </div>
                </div>
            {% endif %}
        {% endblock %}
      </div>
      {% endblock %}
    </section>


{% endblock body %}


<section id="features">
  {% block partenaire %}
  {% endblock partenaire %}
</section>

<section id="contact">
</section>
