{% extends 'master.html' %}
{% load static %}

{% block title %}
    {{ specific_tool.specifictool_name }}
{% endblock %}

{% block breadcrumbs %}
<div class="container">
    <ul class="breadcrumbs remark warning">
        <li class="page-item">
            <a class="mif-home" href="{% url 'main:home' %}"></a>
        </li>
        <li class="page-item">
            <a href="{{ specific_tool.toolgroup.tooltype.category.get_absolute_url }}">
                {{ specific_tool.toolgroup.tooltype.category | capfirst }}
            </a>
        </li>
        <li class="page-item">
            <a href="{{ specific_tool.toolgroup.tooltype.get_absolute_url }}">
                {{ specific_tool.toolgroup.tooltype.tooltype_description | capfirst }}
            </a>
        </li>
        <li class="page-item">
            <a href="{{ specific_tool.toolgroup.get_absolute_url }}">
                {{ specific_tool.toolgroup | capfirst }}
            </a>
        </li>
        <li class="page-item">
            <span class="ml-2">{{ specific_tool.specifictool_name | capfirst }}</span>
        </li>
    </ul>
</div>
{% endblock breadcrumbs %}

{% block slider %}
    <div id="about-slider" class="container">
        <div class="row mb-10">
            <div class="cell-md-3 d-flex flex-align-center">
                <div class="img-container">
                    <div class="row">
                        <div class="cell-sm-12">
                            <div class="row" >
                                <div class="image w-100 img-container thumbnail">
                                    <img src="{{ MEDIA_URL }}{{ specific_tool.specifictool_image.url }}"
                                        alt="Image base"
                                        id="main-image"
                                    >
                                </div>

                                {% for img_tool in specific_tool.tools.all %}
                                        <div class="cell-sm-4">
                                            <div class="image w-100 img-container thumbnail"
                                                style="cursor: pointer;"
                                            >
                                                <img src="{{ MEDIA_URL }}{{ img_tool.image_tool.url }}"
                                                    alt=""
                                                    class="img-miniature"
                                                    onclick="Metro.dialog.open('#tool{{ img_tool.id }}')"
                                                    title="tool{{ img_tool.id }}"
                                                >
                                            </div>
                                        </div>

                                        <!-- Dialog box -->
                                        <div class="dialog"
                                            data-role="dialog"
                                            data-width="auto"
                                            data-overlay-click-close="true"
                                            id="tool{{ img_tool.id }}"
                                        >
                                            <div class="dialog-content">
                                                <img src="{{ MEDIA_URL }}{{ img_tool.image_tool.url }}"
                                                    alt="{{ img_tool.image_tool.name }}"
                                                >
                                            </div>
                                            <div class="dialog-actions">
                                                <button class="button js-dialog-close">Fermer</button>
                                            </div>
                                        </div>
                                {% endfor %}
                                {% if specific_tool.tool_video_url %}
                                    <div class="embed-container size-16x9">
                                        <iframe src="{{ specific_tool.tool_video_url }}" allowfullscreen></iframe>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="row container mt-5">
                        <div class="cell-12 text-leader2 fg-darkGray pb-3">Marque</div>
                        {% for marque in specific_tool.marque.all %}
                            <div class="cell-sm-5 mt-3-minus">
                                <div class="w-100 img-container">
                                    <img src="{{ marque.logo_marque.url }}" class="image">
                                    {% if not forloop.last %} {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="cell-md-9">
                <div class="row">
                    <div class="cell-md-10 ">
                        <div class="text-just  ml-10">
                            <div class="text-leader text-bold">
                                {{ specific_tool.specifictool_name }}
                                <br>
                                <span class="text-secondary text-muted">
                                    Réf. code : {{ specific_tool.specifictool_ref }}
                                </span>
                            </div>
                        </div>
                    </div>
                    {% if specific_tool.fiche_technique %}
                        <div class="cell-md-2">
                            <a href="{{ MEDIA_URL }}{{ specific_tool.fiche_technique.url }}"
                                target="_blank"
                                class="button primary"
                            >
                                Fiche technique
                            </a>
                        </div>
                    {% endif %}
                </div>
                <hr class="ml-8">
                <div class="row">
                    <div class="ml-10 text-secondary">
                        {{ specific_tool.specifictool_description | safe }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

