{% extends 'master.html' %}
{% load static %}

{% block title %}
    {{ category.category_name }}
{% endblock %}

{% block breadcrumbs %}
    <div class="container">
        <ul class="breadcrumbs remark warning">
            <li class="page-item">
                <a class="mif-home" href="{% url 'main:home' %}"></a>    
            </li>
            <li class="page-item">
                <a href="{{ category.get_absolute_url }}">{{ category.category_name | capfirst }}</a>
            </li>
        </ul>
    </div>
{% endblock breadcrumbs %}

{% block categoryDetail %}
    <div class="container">
        <div class="row">
            <div class="cell-md-12 ">
                <div class="row">
                    <div class=" text-leader2 fg-darkRed text-bold">
                        {{ category.category_name | upper }}
                    </div>
                </div>
                <hr>
                <div class="row mb-10">
                    {% for tool_type in category.toolcategories.all %}
                        <div class="cell-md-3 pt-2">
                            <div class="card image-header">
                                <a href="{{ tool_type.get_absolute_url }}">
                                    <div class="card-header fg-white"
                                        style="background-image: url({{ MEDIA_URL }}{{ tool_type.tooltype_image.url }});">
                                        {% comment %} {{ subproduct.label_sub_product }} {% endcomment %}
                                    </div>
                                    <div class="card-content p-2 text-secondary text-center">
                                        <a href="{{ tool_type.get_absolute_url }}">
                                            {{ tool_type.tooltype_description | safe }}
                                        </a>
                                    </div>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>
{% endblock categoryDetail %}

<div id="partenaire">
    {% block partenaire %}{% endblock %}
</div>
