{% extends 'master.html' %}
{% load static %}

{% block title %}
    {{ tool_group.toolgroup_name }}
{% endblock %}

{% block breadcrumbs %}
    <div class="container">
        <ul class="breadcrumbs remark warning">
            <li class="page-item">
                <a class="mif-home" href="{% url 'main:home' %}"></a>    
            </li>
            <li class="page-item">
                <a href="{{ tool_group.tooltype.category.get_absolute_url }}">
                    {{ tool_group.tooltype.category.category_name | capfirst }}
                </a>
            </li>
            <li class="page-item">
                <a href="{{ tool_group.tooltype.get_absolute_url }}">
                    {{ tool_group.tooltype.tooltype_description | capfirst }}
                </a>
            </li>
            <li class="page-item">
                <span class="ml-2">{{ tool_group.toolgroup_name | capfirst }}</span>
            </li>
        </ul>
    </div>
{% endblock breadcrumbs %}

{% block slider %}
    <div class="container">
        <div class="row">
            <div class="cell-md-12 ">
                <div class="row">
                    <div class=" display1 fg-darkRed text-bold">
                        {{ tool_group.toolgroup_name | upper }}
                    </div>
                </div>
                <hr>
                <div class="row mb-10">
                    {% for specific_tool in tool_group.toolgroups.all %}
                        <div class="cell-md-3 pt-2">
                            <div class="card image-header">
                                <a href="{{ specific_tool.get_absolute_url }}">
                                    <div class="card-header fg-white"
                                        style="background-image: url({{ MEDIA_URL }}{{ specific_tool.specifictool_image.url }});">
                                    </div>
                                    <div class="card-content p-2 text-secondary text-center">
                                        <a href="{{ specific_tool.get_absolute_url }}">
                                            {{ specific_tool.specifictool_name | safe }}
                                        </a>
                                    </div>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>
{% endblock slider %}
