{% extends 'master.html' %}
{% load static %}

{% block title %}
    {{ tool_type.tooltype_description }}
{% endblock %}

{% block breadcrumbs %}
<div class="container">
    <ul class="breadcrumbs remark warning">
        <li class="page-item">
            <a class="mif-home" href="{% url 'main:home' %}"></a>    
        </li>
        <li class="page-item">
            <a href="{{ tool_type.category.get_absolute_url }}">{{ tool_type.category | capfirst }}</a>
        </li>
        <li class="page-item">
            <span class="ml-2">{{ tool_type.tooltype_description | capfirst }}</span>
        </li>
    </ul>
</div>
{% endblock breadcrumbs %}

{% block slider %}
    <div id="about-slider" class="container">
        <div class="row">
            <div class="cell-md-12">
                <div class="row">
                    <div class="text-just">
                        <div class="text-secondary text-bold">
                            {{ tool_type.tooltype_description }} 
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>

        <div class="row mb-10">
            {% for tool_group in tool_type.tooltypes.all %}
                <div class="cell-md-3 pt-2">
                    <div class="card image-header">
                        <a href="{{ tool_group.get_absolute_url }}">
                            <div class="card-header fg-white"
                                style="background-image: url({{ MEDIA_URL }}{{ tool_group.toolgroup_image.url }});">
                            </div>
                            <div class="card-content p-2 text-secondary text-center">
                                <a href="{{ tool_group.get_absolute_url }}">
                                    {{ tool_group.toolgroup_name | safe }}
                                </a>
                            </div>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
