{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="SmartDev, smartdev, smartdevci">
    <title>
        {% block title %} AWAID | Page introuvable !{% endblock %}
    </title>
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'css/metro-all.min.css' %}">
    <style>
        div.default--height {
            min-height: 400px;
        }
    </style>
</head>

<body>
<div class="row">
    <div class="container mt-10 text-center">
        <div class="cell-md-4 offset-4">
            <img src="{% static 'images/logo.gif' %}" alt="" class="w-100">
        </div>
        <div class="text-leader text-center mt-10">
            <div>La page à laquelle vous essayez d'accéder est introuvable !</div>
{#            <i class="mif-question display1 mif-10x fg-red"></i>#}
        </div>
        <div class="cell-md-8 offset-2">
            <img src="{% static 'images/404-error.png' %}" alt="" class="w-100">
        </div>

        <a href="{% url 'main:home' %}" class="text-leader no-decor">Retour à la page d'accueil</a>
    </div>
</div>
</body>