{% load static %}

<!DOCTYPE html>
<html lang="fr-FR">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <meta name="author" content="SmartDev, smartdev, smartdevci">
  <meta name="keywords" content="SmartDev, smartdev, smartdevci">
    <title>
        {% block title %} AWAID | Fournisseur d'Equipements  industriels {% endblock %}
    </title>
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'css/metro-all.min.css' %}">
</head>

<body>
    {% block navbar %}
        {% include 'includes/navbar.html' %}
    {% endblock %}

    <div id="home">
        <!-- SLIDER -->
        {% block slider %}{% endblock %}
        <!--/#about-slider-->
    </div>

    {% block section-about %}
        <div class="container">
            {% block about %}{% endblock %}
        </div>

        <div class="container">
            {% block distribution %}{% endblock %}
        </div>
    {% endblock %}

    {% block partenaire %} {% endblock %}

    {% block contact %}{% endblock %}
        <!--/#contact-page-->

    {% block footer %}
    <footer id="footer" class="bg-darkRed p-10 m-0">
        <div class="container">
            <div class="row">
                <div class="cell-12">
                    <div class="text-center">
                        <span class="mr-5" data-role="hint" data-hint-text="Remonter">
                            <a href="#home" title ><i class="mif-arrow-up mif-3x"></i></a>
                        </span>
                        <span class="mr-5"><a href="#"><i class="mif-facebook2 mif-3x"></i></a></span>
                        <span class="mr-5"><a href="#"><i class="mif-twitter mif-3x"></i></a></span>
                    </div>
                </div>
            </div>
          <div class="row">
            <div class="cell-md-12">
                <div class="text-center">
                    <p class="fg-white">2020 &copy; AWAID - Tous droits reservés.</p>
                    <p class="fg-white">Design by <a href="smartdevci.com"><strong>SmartDev</strong></a></p>
                </div>
            </div>
          </div>
        </div>
      </footer>
  <!--/#footer-->
    {% endblock %}


  <script src="{% static 'js/metro.min.js' %}"></script>
</body>
</html>
